/* General Styling */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background-color:aliceblue
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85); /* white transparent box */
    border-radius: 10px;
}

h1 {
    text-align: center;
}

/* Navigation Bar Styling */
#navbar {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#navbar ul li {
    display: inline;
    margin-right: 20px;
}

#navbar ul li a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-size: 18px;
    
}



/* Section Styling */
section {
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #fa00c0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    font-size: 16px;
    color: #555;
}
